@import url(common.css);
.top_btn{
	position:fixed;
    z-index:9999;
    bottom:30px;
    right:30px;
    width:50px;
    height:50px;
/*    border-radius:50%; */  
    background:#ff4d4d;
    text-align:center;
}
.top_btn>a>i{  /*ICON FONT 설정*/
    line-height:50px;
    color:#fff;
    font-size:40px;
}
.sheader{
	background:url(../image/cmain.png) no-repeat center center;
	height:950px;
/*	width:100%;*/
	background-size:cover; /*FullScreen*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	position:relative;
	z-index:1000;
}

.header-content{
	width:1200px;
	height:100px;
	margin:0 auto;
/*	background:green;*/	
	position:relative;


}.logo{
	position:absolute;
	top:0px;
	left:0;
	float:left;
	padding-top:15px;
}

.logo img{
	width:150px;
	height:70px;
}


/*탑메뉴*/
.header-navi{
	text-align:right;

}
.header-navi>.navi{display:inline-block;}
.navi>li{
	float:left;
	position:relative;
	width:175px;
	height:50px;
	padding-top:20px;
/*	background:yellow;
*/

}
.navi>li>a{
	display:block;
	font-size:20px;
	letter-spacing:1px;
	color:#fff;	
	line-height:50px;
	padding:0 30px;
	transition:all 0.5s;
	font-weight:bold;
/*	background:pink;*/
}

.navi>li .a{
	position:absolute;
	display:block;
	width:0px;
	border:2px solid #fff;
	opacity:0;
	top:65px;
	left:80px;
	transition:all 0.5s;
	z-index:10000;
}
.navi>li:hover .a{
	width:75px;
	border:2px solid #fff;
	opacity:1;
}

.navi>li .b{
	position:absolute;
	display:block;
	width:0px;
	border:2px solid #fff;
	opacity:0;
	top:65px;
	left:48px;
	transition:all 0.5s;
	z-index:10000;
}
.navi>li:hover .b{
	width:110px;
	border:2px solid #fff;
	opacity:1;
}

.navi>li .c{
	position:absolute;
	display:block;
	width:0px;
	border:2px solid #fff;
	opacity:0;
	top:65px;
	left:30px;
	transition:all 0.5s;
	z-index:10000;
}
.navi>li:hover .c{
	width:145px;
	border:2px solid #Fff;
	opacity:1;
}

.navi>li .d{
	position:absolute;
	display:block;
	width:0px;
	border:2px solid #Fff;
	opacity:0;
	top:65px;
	left:60px;
	transition:all 0.5s;
	z-index:10000;
}
.navi>li:hover .d{
	width:95px;
	border:2px solid #Fff;
	opacity:1;
}

.navi>li ul{
	display:none;   /*서브메뉴 감추기->jQuery에서 보이게 함*/
	
	position:absolute;
}
.navi>li ul li{
	float:left;
	padding-top:7px;
}
.navi>li ul li a{
	color:#fff;
	font-size:17px;
	font-weight:bold;
	padding:7px 20px;
}
.navi>li ul li:hover a{
	background:#b30000;
	color:#fff;}

/*서브메뉴 가로폭,나오는위치값-<부모영역을 벗어나서 위치를 잡기 위함*/
.navi>li>ul{left:64px;width:421px;}
.title{
	width:1300px;
	height:850px;
	margin:0 auto;
	position:relative;
}

.title h1{
	position:absolute;
	top:570px;
	left:180px;
	font-size:30px;
	color:#fff;
	font-style:italic;
}

/*--------------------------------------컨텐츠--------------*/

section{
	width:100%;
	background:#0d0d0d;
	color:#fff;
}

#con1{
	width:1300px;
	height:950px;
	margin:0 auto;
}

#con1 h2{
	font-size:40px;
	padding-top:20px;
	padding-left:10px;
	font-weight:bold;
}
.sf-img{
	margin-top:20px;
}

.sf-img img{
	width:800px;
	height:500px;
}

.sf-img h2{
	font-size:40px;
	font-weight:bold;
	padding-top:10px;
}

.st4 ul li{
	float:left;
	position:relative;
	width:550px;
	height:300px;
	margin:20px 10px 0 60px;
	
}
.sf-img{
	width:800px;
	height:500px;
	position:relative;
	margin-left:250px;

}

.st-1{
	position:absolute;
	width:100%;
	height:90px;
	bottom:0;
	background:rgba(255,255,255,0.7);
}

.st1{
	color:#000;
	text-align:center;
	padding-top:10px;
}




.st4 ul li .st-in{
	position:absolute;
	background:rgba(0,0,0,0.4);
	width:100%;
	height:100%;
	opacity:0;
	transform:scale(0,0);
	transition:all 0.5s;
}

.st4 ul li:hover .st-in{transform:scale(1,1); opacity:1;}

.st4 img{
	width:550px;
	height:300px;
}

.st-in h3{
	text-align:center;
	margin-top:17%;
	opacity:0;
	transition:all 0.5s;
	font-size:19px;
}

.st4 ul li:hover h3{opacity:1;}
.st-in .st2{
	text-align:center;
	padding-top:10px;
	line-height:25px;
	opacity:0;
	transition:all 0.5s;
}

.st4 ul li:hover .st2{opacity:1;}
/*-------------------------------------실용성------------------*/
#con2{
	width:1300px;
	height:950px;
	margin:0 auto;

}
#con2 h2{
	padding-top:10px;
	font-size:50px;
	font-weight:bold;
}

.txt1{
	position:relative; 
	overflow:hidden;  
	width:1100px;
	height:720px;	
	margin-top:40px;
	margin-left:90px;

}
.txt1 ul{
	position:absolute;
	width:6600px; 
}
.txt1 ul li{
	float:left;
	} 
.txt1 img{
	width:1100px;
	height:650px;
}

.txt1 p{
	font-size:15px;
	font-weight:bold;
	padding-top:10px;
}
.slide_btn{
	float:right;
	margin-right:110px;

}

.slide_btn ul li{
	float:left;
	background:rgba(255,255,255,0.7);
	width:10px;
	height:10px;
	border-radius:50%;
	margin:0 7px;
	cursor:pointer;
}

.slide_btn ul .active{
	background:#ff6600;
	width:15px;
	height:155px;
	border-radius:50%;
}
/*-----------------------------주행가능거리---------------------*/
#con3{
	width:100%;
	height:950px;
	position:relative;
}
.con3-in{
	background:url(../image/cybertruck.gif) center;
	background-size:cover; /*FullScreen*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	width:100%;
	height:700px;
}

.con3-in h2{
	padding-top:50px;
	margin-left:150px;
	font-size:50px;
	font-weight:bold;
	color:#000;
	padding-bottom:5px;
}
.cott{
	width:1300px;
	margin:0 auto;
}

.cot{
	text-align:center;
	padding-top:80px;
	font-size:20px;
	color:#eaeaea;
}
/*-----------------------인테리어--------------*/
#con2{
	width:1300px;
	height:950px;
	margin:0 auto;
	/*background:pink;*/	
}
#con2 h2{
	padding-top:10px;
	font-size:50px;
	font-weight:bold;
}

.gallery{
	position:relative; /*부모기준설정*/
	overflow:hidden;  /*넘치는 자식 보이지않게*/
	width:1100px;
	height:740px;	
	margin-top:40px;
	margin-left:90px;

}
.gallery ul{
	position:absolute;
	width:6600px; /*슬라이드가 가로방향일때만->이미지의 총가로길이(940*4)*/
}
.gallery ul li{
	float:left;  /*슬라이드가 가로방향일때만 이미지 가로배열*/
	} 
.gallery img{
	width:1100px;
	height:650px;
}
.gallery h4{padding-top:5px;}
.gallery p{
	padding-top:10px;
	font-size:17px;
	font-weight:bold;
}
/*하단버튼*/

.slide_btn{
	float:right;
	margin-right:110px;
}

.slide_btn ul li{
	float:left;
	background:#fff;
	width:10px;
	height:10px;
	border-radius:50%;
	margin:0 7px;
	cursor:pointer;
}

.slide_btn ul li.active{
	line-height:15px;
	background:#ff6600;
	width:10px;
	height:10px;
	border-radius:50%;

}


/*--------------------------퍼포먼스-------------------*/
#con5{
	width:100%;
	height:950px;
}

.con5-img{
	background:url(../image/per.jpg) no-repeat center center;
	height:600px;
/*	width:100%;*/
	background-size:cover; /*FullScreen*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	position:relative;
	z-index:1000;
}
.contents{
	width:1300px;
	height:350px;
	margin:0 auto;
	cursor:pointer;
	margin-top:450px ;
}

.con5-img h2{
	margin-left:100px;
	font-size:50px;
	font-weight:bold;
	color:#000;
}

.con5-img .con5-txt{
	font-size:20px;
	margin-left:100px;
	padding-bottom:5px;
	color:#2B2B2B;
}

.con5-img .con5-txt2{
	font-size:15px;
	margin-left:100px;
	border-left:3px solid #fff;
	color:#3D3D3D;
	padding-left:5px;
}
.contents img{
	width:350px;
	height:250px;
}

/*.il1{  
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
}*/
.contents ul li{
	float:left;
	position:relative;
	width:350px;
	height:250px;
/*	margin-top:30px;*/
	margin-left:60px;
}

.il1 .per{
	text-align:center;
	font-size:17px;
	font-weight:bold;
	padding-bottom:5px;
	margin-top:25%;
	opacity:0;
	transition:all 0.5s;
}

.il1 hr{
	margin-left:45%;
	width:30px;
	border:1px solid #fff;
	opacity:0;
	transition:all 0.5s;
}

.il1 .per1{
	text-align:center;
	padding-top:10px;
	opacity:0;
	transition:all 0.5s;
}

.contents ul li .il1{

	position:absolute;
	background:rgba(0,0,0,0.6);
	width:100%;
	height:0;
	transition:all 0.5s;
/*	line-height:250px;*/
}

.contents ul li:hover div{height:100%;}
.contents ul li:hover .per{opacity:1;}
.contents ul li:hover .per1{opacity:1;}
.contents ul li:hover hr{opacity:1;}

/*--------------------------탭메뉴-----------------*/
#con5{
    width:1300px;
    height:950px;
    margin:0px auto;
    position:relative;
   
}

#con5 h5{

}
#con5 img{
	position:absolute;
	top:24%;
	left:0px;
	width:800px;
	margin-left:-150px;
	float:left;
}
.tab-in{
	position:absolute;
	top:20%;
	right:10%;
}
.tab-header{

    width:200px;
    float:left;
    position:relative;
}
.tab-content{
    width:400px;
    float:left;
    margin-top:30px;
    margin-left:25px;
}
.tab_box{
    width:200px;
    height:220px;
    position:relative;
    top:30px;
    left:30px;
/*    background:green;*/
}
.tab li{
    width:200px; /*제이쿼리에서 다룰부분*/
    height:80px;
    box-sizing:border-box;
    position:relative;
    
}
.tab li a{
    display:block;
    color:#fff;
    font-size:17px;
    line-height:80px;
    text-align:center;
    letter-spacing:1px; 
    position:relative;
    z-index:100;  
}

.tab li a.active{color:#fff;}  /*1번째 선택된 글자색 */

.tab-highlight{  /*현재 선택된 탭메뉴*/
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:70px;  
    border:5px solid #fff;
}

.panel{
	clear:both;  
	padding:20px;
	font-size:14px;
	line-height:25px;
}
.panel>li{
    width:380px;
    height:500px;
    position:relative;
    top:0;
    left:0;
    display:none; 

}
.panel li:first-child{display:block;}

.panel .tab-title{
	font-size:17px;
	font-weight:bold;
	padding-bottom:20px;
}

.panel .tab-text{
	display:inline-block;
	float:right;
	font-size:15px;
	padding-bottom:30px;
	margin-top:-42px;
}
.panel hr{
	width:20px;
}

/*푸터*/
footer{
	width:100%;
	height:200px;
	background:#f2f2f2;
}
.footer-in{
	width:1200px;
	margin:0px auto;
	text-align:center;
}
.footer1{ 
	padding-top:30px;
	
}

.footer1 ul{display:inline-block;}
.footer1 ul li{
	float:left;
	padding-right:20px;
}
.footer1 ul li p{
	cursor:pointer;
	color:#737373;
	font-size:13px;
}
.footer1 ul li a{
	color:#737373;
	font-size:13px;
}
.footer1 ul li:hover p{color:#000;}
.footer1 ul li:hover a{color:#000;}

.footer2{
	color:#1a1a1a;
	line-height:100px;
	font-size:15px;
	font-style:none;
}

address{
	font-style:italic;
	font-size:16px;
	color:#1a1a1a;
}